@import url(https://fonts.googleapis.com/css2?family=Young+Serif&family=Outfit);
/* Variables */
:root{
  --font-family:'Outfit', 'Young Serif';
}

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  font-family: 'Outfit';
  background-color: antiquewhite;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 50px;
  width: min(100%, 1000px);
  border-radius: 20px;
  gap: 20px;
}
.picture{
  align-self: center;
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.recipe-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.recipe-title > h1{
  font-family: 'Young Serif';
  color: rgb(97, 93, 93);
}
.recipe-title > p{
  text-align: start;
  color: gray;
}

.prep-data{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(187, 108, 187, 0.097);
  padding: 40px;
  margin-top: 20px;
}
.prep-data > h3{
  color: purple;
}
.prep-data > ul{
  color: rgb(91, 89, 91);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.prep-data > ul li::marker{
  color: purple;
}

.recipe-ingredients{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.recipe-ingredients > h2{
  font-family: 'Young Serif';
  color: rgb(138, 68, 11);
}
.recipe-ingredients > ul{
  color: rgb(91, 89, 91);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.recipe-ingredients > ul li::marker{
  color: rgb(138, 68, 11);
}
.recipe-instructions{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.recipe-instructions > h2{
  font-family: 'Young Serif';
  color: rgb(138, 68, 11);
}
.recipe-instructions > ol{
  color: rgb(91, 89, 91);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.recipe-instructions > ol li::marker{
  color: rgb(138, 68, 11);
}
.recipe-nutrition{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.data{
  display: flex;
  border: solid 2px black;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  justify-content: space-around;
}
.recipe-nutrition > h2{
  font-family: 'Young Serif';
  color: rgb(138, 68, 11);
}

